<h2>Tus prendas</h2>



<ul>
  <li>
    <%= link_to @prendas.first.descripcion, @prendas.first %>
  </li>
  <li><a href="/prendas/2">Pantalon de vestir</a></li>
  <li><a href="/prendas/3">Ojotas</a></li>
</ul>